.venv/
venv/
__pycache__/
*.pyc
.idea/
.vscode/
*.log
*.epub
**/*.epub

# локальные папки с моделями
model/
models/
models/**

# крупные веса/артефакты на всякий
*.bin
*.safetensors
*.pt
tokenizer.json