<div class="catalog-container">

    <header class="catalog-header">
        <h1>Каталог</h1>
        <button class="add-book-btn" (click)="openUploadModal()">
            + Загрузить книгу
        </button>
        <app-search-widget (searchResults)="onSearchResults($event)" (searchCleared)="onSearchCleared()">
        </app-search-widget>
    </header>

    @if (viewMode === 'search') {
    <app-search-results [hits]="searchResults" [total]="searchTotal" (detailsClick)="openBookDetails($event)">
    </app-search-results>

    @if (searchTotal === 0) {
    <div class="empty-state">Совпадений не найдено.</div>
    }
    }

    @if (viewMode === 'default') {
    @if (error) {
    <div class="error-message">
        <p>{{ error }}</p>
        <button (click)="loadBooks()">Заново</button>
    </div>
    }

    @if (isLoading) {
    <div class="loader-container">
        <div class="spinner"></div>
        <p>Загружаем книги...</p>
    </div>
    }

    @if (!isLoading && !error) {
    @if (books.length > 0) {
    <div class="books-grid">
        @for (book of books; track book.book_id) {
        <app-book-card [book]="book" (details)="openBookDetails($event)"></app-book-card>
        }
    </div>
    } @else {
    <div class="empty-state">
        <p>Архивы пусты.</p>
    </div>
    }
    }
    }

    @if (selectedBook) {
    <app-book-details-modal [book]="selectedBook" (close)="closeDetails()">
    </app-book-details-modal>
    }

    @if (isDetailsLoading) {
    <div class="overlay-loader">Открываем книгу...</div>
    }

    @if (showUploadModal) {
    <app-upload-book-modal (close)="closeUploadModal($event)"></app-upload-book-modal>
    }

</div>