.header {
    &_logo-title {
        font-family: "EirikRaude", "Courier New", Courier, monospace;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: 700;
        color: #442d1e;
    }
}
