.header {
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        width: 100%;
        background-color: var(--light-color);
        box-shadow: 0 1px 20px #cabdb4;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__logo-title {
        font-family: "EirikRaude", "Courier New", Courier, monospace;
        font-size: var(--text-display-4-font-size);
        letter-spacing: 2px;
        font-weight: 700;
        color: var(--primary-text-color);
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__button {
        background-color: unset;
        border: none;
    }
}
