:root {
    --main-bg-color: #e7e3dc;

    --light-color: #f4f2ee;

    --primary-text-color: #442d1e;
    --primary-hover-color: #e76303;
    --primary-pressed-color: #d05700;

    --secondary-color: #00b0eb;
    --secondary-hover-color: #009dd2;
    --secondary-pressed-color: #008ebe;

    --hint-color: #adadad;
    --hint-hover-color: #908f8f;
    --hint-pressed-color: #757474;

    --hint-color-transparent: rgba(173, 173, 173, 0.2);
    --hint-hover-color-transparent: rgba(144, 143, 143, 0.2);
    --hint-pressed-color-transparent: rgba(117, 116, 116, 0.2);

    --dark-color: #121212;
    --dark-hover-color: #1b1b1b;
    --dark-pressed-color: #2e2e2e;

    --dark-color-transparent: rgba(18, 18, 18, 0.8);
}
