:root {
    --text-display-font-weight: 600;
    --text-header-font-weight: 600;
    --text-subheader-font-weight: 600;
    --text-font-weight: 400;
    --text-caption-font-weight: 400;

    --text-display-1-font-size: 28px;
    --text-display-2-font-size: 32px;
    --text-display-3-font-size: 40px;
    --text-display-4-font-size: 48px;

    --text-header-1-font-size: 20px;
    --text-header-2-font-size: 24px;

    --text-subheader-1-font-size: 17px;
    --text-subheader-2-font-size: 19px;
    --text-subheader-3-font-size: 20px;

    --text-body-1-font-size: 17px;
    --text-body-2-font-size: 19px;
    --text-body-3-font-size: 20px;

    --text-caption-1-font-size: 13px;
    --text-caption-2-font-size: 15px;
}
